    <footer>
        <nav>
            <a href="https://webpages.charlotte.edu/cgilmo11/">CLT Webspace</a> |
            <a href="https://github.com/c81eb">GitHub Profile</a> |
            <a href="https://c81eb.github.io/">GitHub Pages</a>
        </nav>
        <p>Page designed by <a href="calebgilmoredesigns.co/index.html">Gilmore Enterprises</a> &copy;2026</p>
        <p>
            <a href="https://validator.w3.org/check?uri=referer">HTML Validator</a> |
            <a href="https://jigsaw.w3.org/css-validator/check/referer">CSS Validator</a>
        </p>
    </footer>